@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family:'Open Sans',serif;
	vertical-align: baseline;
	line-height: 1;
	
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


a:focus,
a:hover {
  color: #f5b26c;
  text-decoration: none;
}

ol, ul {
	list-style: none;
}

h1,h2,h3 {
	text-align:center;
	color: #012d5c;
}

h1 {
	font-weight:bold;
}
#top {
	background-color: #002e5a;
	height:60px;
	color:white;
	
}
#header-nav {
	height: 105px;
}

#baner {
	height: 480px;
	background: url("images/baner_bridge_home_1.jpg") no-repeat;
	background-size: cover;
	
}
.bcg-grey {
	background-color: #f6f6f6;
}

}
.img-product {
	width:265px;
	height: 270px;
}
.blue-border {
	border: solid #637e99 1px;
}
.img {
	weight:100%;
	height:100%;
}
.margin-20 {
	margin-left:15%;
}
.margin-tb {
	margin: 4% 0 4% 0;
}
.margin-lr {
	margin-left:auto;
	margin-right:auto;
} 
.margin-t {
	margin: 2% 0 0 0;
}
.padding-1 {
	padding: 1% 1% 1% 1%;	
}
.padding-0{
	padding:0;
}
#five-elements {
	
	width:20%;
	float:left;
	
}

.img-box {
	width:292px;
	height:291px;
}
.bg1{
	background-image: url("images/img_offShere.jpg");
}
.bg2{
	background-image: url("images/img_bridge.jpg");
}
.bg3{
	background-image: url("images/img_skilift.jpg");
}
.bg4{
	background-image: url("images/img_Crane_Elevators.jpg");
}
.bg5{
	background-image: url("images/img_mines.jpg");
}
.bg6{
	background-image: url("images/img_tubes.jpg");
}
.bg7{
	background-image: url("images/img_Conveuor_Belts.jpg");
}
.floatl {
	float:left;
}
.about {
	margin: 2% 0 2% 0;
	font-size: 1.6em ;
	
}

#contact {
	
	background-color: #002e5a;
	height:350px;
}

footer {
	
	color:white;
}


#copyright {
	background-color:#144677;
	height:75px;
}
