body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
	
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}



ol, ul {
	list-style: none;
}

h1,h2,h3 {
	
	color: #637e99;
	
}
#top {
	background-color: #002e5a;
	height:60px;
	color:white;
	
}
#baner {
	height: 480px;
	background: url("images/baner_bridge_home_1.jpg") no-repeat;
	
}
#products {
	border: solid #637e99 0.5px;
	float: left;
	
}

