/*MAIN*/

body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-family:'Open_sansregular',serif;
	vertical-align: baseline;
	font-size: 1.3em;	
	line-height: 1.6;
	
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
h1,h2,h3,h4,h5 {
	text-align:center;
	color: #012d5c;
	font-family: 'Open_sansbold', serif;
}

ol, ul {
	list-style: none;
}
.radio {
	color: #012D5C;
	font-size: 16px;
}
.block {
	display: block;
}
.inline-block {
	display:inline-block;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.text-left{
	text-align:left;
}
.relative {
	position:relative;
}
.floatl {
	float:left;
}
.floatr {
	float:right;
}
/*MARGIN*/
.margin-tb {
	margin: 4% 0 4% 0;
}
.margin-tb-big {
	margin: 8% 0 8% 0;
}
.margin-b {
	margin: 0 0 4% 0;
}
.margin-lr {
	margin-left:auto;
	margin-right:auto;
} 
.margin-t {
	margin-top: 2%;
}
.margin-t-30 {
	margin-top: 30px;
}
.margin-t-small {
	margin-top: 1%;
}
.margin-tb-small{
	margin: 4% 0 2% 0;
}
.margin-0 {
	margin:0 0 0 0;
}
.margin-small {
	margin: 0 1% 0 1%;
}
.margin-auto {
	margin:0 auto;
}
/*PADDING*/
.padding-1 {
	padding: 1% 1% 1% 1%;	
}
.padding-lr {
	padding: 1% 3% 0% 5%;
}
.padding-bott {
	padding-bottom:20px;
}
.padding-top-20 {
	padding-top: 30px;
}
.padding-top-47 {
	padding-top: 40px;
}
.padding-t {
	padding: 1.5% 0 0 0;
}
.padding-0 {
	padding: 0 0 0 0;
}
.padding-tb {
	padding: 1% 0 1% 0;
}
/*BORDER*/

.orange-border {
	border-bottom: solid 2px #CE7615;
}
.bottom-border {
	border-bottom: 1px solid #e5e5e5;
}
.border-right {
	border-right: 1px solid white;
}
.border-grey {
	border: 1px solid #CFCBCC;
}
.border-grey-right {
	border-right: 1px solid #cfcbcc;
}
.blue-border {
	border: solid #637e99 1px;
}
.border-bott {
	border-bottom: solid 1px #FFFFFF;
}
/*FONT*/

.font-semibold {
	font-family: 'Open_sanssemibold', serif;
}
.font-bold {
	font-family: 'Open_sansbold', serif;
}
.font-regular {
	font-family: 'Open_sansregular', serif;
}
.white-font {
	color:white;
}
.orange-font {
	color:#ce7615;
}
.dark-font {
	color: #002e5a;
}
.black-font {
	color: black;
}
.font16 {
	font-size:16px;
}
.font14 {
	font-size: 14px;
}

/*HOVER*/

a:hover,
nav:hover {
  color: #f5b26c;
  text-decoration: none;
}
.navy-blue:hover {
	background-color:#012D5C;
	color:white;
}
.arrow-left:hover {
	background-image: url("../img/dark-left.png")
}
.arrow-right:hover {
	background-image: url("../img/dark-right.png")
}
.arrow-right-white:hover {
	background-image: url("../img/dark-right-white.png")
}
.relative-img:hover {
	background-image: url("../img/button_learn_more.jpg")
}
/*BACKGROUND*/

.btn-primary {
	background-color:#012D5C;
}
.bcg-white {
	background-color:#FFFFFF;
}

.bcg-dark {
	background-color: #002e5a;
	width:100%;
}
.bcg-grey {
	background-color: #f6f6f6;
}
.bcg-blue {
	background-color:#144677;
}
.bcg-img {
	background-image: url("../img/img_statistics.jpg");	
	background-size: cover;
}
.bg1{
	background-image: url("../img/img_offShere.jpg");
}
.bg2{
	background-image: url("../img/img_bridge.jpg");
}
.bg3{
	background-image: url("../img/img_skilift.jpg");
}
.bg4{
	background-image: url("../img/img_Crane_Elevators.jpg");
}
.bg5{
	background-image: url("../img/img_mines.jpg");
}
.bg6{
	background-image: url("../img/img_tubes.jpg");
}
.bg7{
	background-image: url("../img/img_Conveuor_Belts.jpg");
}
/*SPECIFIC*/
.container-fluid .container .row .col-md-3 .thumbnail {
	border-radius: 0px;
	height:270px;
}
.navy-blue{
	font-size: 19px;
	color: #012D5C;
}
.navy-blue span{
	min-height:90px;
}
.h150 {
	height: 150px;
}
.min-70 {
	min-height:170px;
}
.width100 {
	width:100%;
}
.height100 {
	height:100%;
}
.arrow-left {
	background-image: url("../img/left_arrow.png");
}
.arrow-right {
	background-image: url("../img/right_arrow.png");
}
.arrow-right-white {
	background-image: url("../img/right_arrow.png");
}
.s33 {
	width:33px;
	height:33px;
}
#top {
	background-color: #002e5a;
	height:60px;
	color:white;
}
nav {
	font-size:15px;
	font-family: 'Open_sanssemibold',serif;
}
nav a, .color-dark {
	color: #012E58;
}
#header-nav {
	height: 105px;
}
.navbar {
	width:100%;
}
#baner {
	height: 480px;
	background: url("../img/baner_bridge_home_1.jpg") no-repeat;
	background-size: cover;
	border-top: solid #CE7615 1px;
}
.img-product {
	width:265px;
	height: 270px;
}
.enquiry-box {
	height:190px;
	width:950px;
}
.width185 {
	width: 185px;
}
.img {
	width:100%;
	height:100%;
}
.absolute-img {
	position:absolute;
	top:120px;
	right:-100px;
}
.absolute-span {
	font-size:35px;
	font-family: 'Open_sansbold',serif;
}
.relative-whole {
	position:relative;
	top:20px;
	font-size:24px;
}
.relative-years {
	position:relative;
	bottom:30px;
	font-size:20px;
}
.relative-h3 {
	position:relative;
	top: 100px;
}
.relative-img {
	width:160px;
	height:45px;
	position:relative;
	left:50px;
	background-image: url("../img/navy_learn.png");
}
.five-elements {
	float:left;
	width:20%;
}
.radius {
	border:solid;
	border-color:#CE7615;
	height:160px;
	width: 160px;
	border-radius:100%;
}
.one-box{
	width:100%;
	height: 409px;
}
.img-box {
	width:292px;
	height:291px;
}
.about {
	margin: 2% 0 2% 0;
	font-size: 1.1em ;
}
.contact {
	font-size:14px;
	height:350px;
}
.copyright {
	height:75px;
}
.lorem {
	opacity:0;
	background-color: rgba(01,45,92,0.9);
	color:white;
	width:254px;
	height:270px;
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	left:14px;
}
