
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family:'Open_sansregular',serif;
	vertical-align: baseline;
	line-height: 1;
	
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.font-semibold {
	font-family: 'Open_sanssemibold', serif;
}
.font-bold {
	font-family: 'Open_sansbold', serif;
}
.font-regular {
	font-family: 'Open_sansregular', serif;
}
body {
	font-size: 1.3em;	
	line-height: 1.6;
}
a:hover,
nav:hover {
  color: #f5b26c;
  text-decoration: none;
}

ol, ul {
	list-style: none;
}

h1,h2,h3 {
	text-align:center;
	color: #012d5c;
	font-family: 'Open_sansbold', serif;
}

.white-font {
	color:white;
}
.orange-font {
	color:#ce7615;
	
.black-font {
	color: black;
}
h1 {
	font-weight:bold;
}
#top {
	background-color: #002e5a;
	height:60px;
	color:white;	
}
nav {
	font-size:15px;
	font-family: 'Open_sanssemibold',serif;
}
header {
	height:155px;
}
#header-nav {
	height: 105px;
}
.navbar {
	width:100%;
}
#baner {
	height: 480px;
	background: url("../img/baner_bridge_home_1.jpg") no-repeat;
	background-size: cover;
	border-top: solid #CE7615 1px;
	
}
.bcg-grey {
	background-color: #f6f6f6;
}
.width100 {
	width:100%;
}
.img-product {
	width:265px;
	height: 270px;
}
.blue-border {
	border: solid #637e99 1px;
}
.bcg-white {
	background-color:#FFFFFF;
}
.bcg-dark {
	background-color: #002e5a;
	width:100%;
}
.img {
	weight:100%;
	height:100%;
}
.margin-tb {
	margin: 4% 0 4% 0;
}
.margin-lr {
	margin-left:auto;
	margin-right:auto;
} 
.margin-t {
	margin: 2% 0 0 0;
}
.margin-0 {
	margin:0 0 0 0;
}
.text-right {
	text-align:right;
}
.text-left{
	text-align:left;
}
.padding-1 {
	padding: 1% 1% 1% 1%;	
}
.padding-bott {
	padding-bottom:20px;
}
.padding-0 {
	padding: 0 0 0 0;
}
.margin-small {
	margin: 0 1% 0 1%;
}
.margin-auto {
	margin:auto;
}
.five-elements {
	float:left;
	width:20%;
}
.radius {
	border:solid;
	border-color:#CE7615;
	height:160px;
	border-radius:80%;
	
}
.one-box{
	width:100%;
	height: 409px;
}
.bcg-img {
	background-image: url("../img/img_statistics.jpg");	
	background-size: cover;
}
.img-box {
	width:292px;
	height:291px;
}
.bg1{
	background-image: url("../img/img_offShere.jpg");
}
.bg2{
	background-image: url("../img/img_bridge.jpg");
}
.bg3{
	background-image: url("../img/img_skilift.jpg");
}
.bg4{
	background-image: url("../img/img_Crane_Elevators.jpg");
}
.bg5{
	background-image: url("../img/img_mines.jpg");
}
.bg6{
	background-image: url("../img/img_tubes.jpg");
}
.bg7{
	background-image: url("../img/img_Conveuor_Belts.jpg");
}
.floatl {
	float:left;
}
.about {
	margin: 2% 0 2% 0;
	font-size: 1.1em ;
	
}

.contact {
	font-size:14px;
	height:350px;
}
.border-bott {
	border-bottom: solid 1px #FFFFFF;
}

footer {
	
	color:white;
}
.bcg-blue {
	background-color:#144677;
	
}

.copyright {
	height:75px;
}
